In [24]:
from functions import *
from pandasql import sqldf

In [25]:
# Enter the directory path containing XML files
directory_path = '../tradebyte/ASR Appendix'

In [26]:
## Converting xml files into stagging table
Staging_table = DataIngestion(directory_path)

## Pre processing data tables using different pre-processing steps
Staging_table = PreProcessing(Staging_table)

## Datatype conversion
Staging_table = DataTypeConversion(Staging_table)

## Converting Staging table to dimensions and fact tables to dump into data warehouse
dim_retailer, dim_brand, dim_status, dim_accepted, fact_article = CovertArticleToFactandDim(Staging_table)

### delete the staging table
del Staging_table

In [27]:
dim_retailer

  retailerCode retailerChannelCode  retailerKey
0           tb                  ES            1
1           tb                  DE            2
2           tb                  UK            3

In [28]:
dim_brand

  brandCode  brandKey
0    brand1         1
1    brand2         2

In [29]:
dim_status

   statusCode statusSupplementary
0           9       Missingfabric
1          10       Missingimages

In [30]:
dim_accepted

  accepted  acceptanceKey
0    false              1
1     true              2

In [31]:
fact_article

,retailerKey,brandKey,statusCode,acceptanceKey,tbArticleId,ean
0,1,1,9,1,4525034,5054330675693
1,1,1,9,1,5634896,0888284792909
2,1,1,9,1,6094877,0888284791766
3,1,1,9,1,5634934,0888284793272
4,1,1,9,1,4525036,0191169291269
...,...,...,...,...,...,...
7926,3,1,10,1,6766198,0194512201557
7927,3,1,10,1,6766200,0194512200932
7928,3,1,10,1,6766202,0194512200109
7929,2,2,10,1,3560618,4059323377289
7930,2,2,10,1,3560620,4059323377371

In [32]:
query = 'select count(f.tbArticleId) from fact_article f inner join dim_status s  on f.statusCode = s.statusCode inner join dim_brand b on f.brandKey = b.brandKey  where  s.statusSupplementary = "Missingimages" and b.brandKey = 2'
# Execute the query using pandasql
result = sqldf(query, globals())

# Print the query result
print(result)

   count(f.tbArticleId)
0                    11

In [23]:
query = 'select count(f.tbArticleId) from fact_article f inner join dim_status s  on f.statusCode = s.statusCode inner join dim_retailer r on f.retailerKey = r.retailerKey  where  s.statusSupplementary = "Missingimages" and r.retailerKey = 3'
# Execute the query using pandasql
result = sqldf(query, globals())

# Print the query result
print(result)

   count(f.tbArticleId)
0                     6